streamlit==1.55.0
pandas==2.3.3
numpy==2.4.2
opencv-python==4.13.0.92
pillow==12.1.1
torch==2.10.0
torchvision==0.25.0
ultralytics==8.4.21
scikit-learn
xgboost
joblib
folium
streamlit-folium
requests==2.32.5
matplotlib==3.10.8